<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true" use-expressions="true">
		<form-login 
			login-page="/skeleton/login" 
			authentication-failure-url="/skeleton/login?login_error=error"
			username-parameter="j_username"
			password-parameter="j_password"
			default-target-url="/skeleton/tests/test" 
			always-use-default-target="true" />
		<remember-me />
		<intercept-url pattern="/skeleton/resources/**" access="permitAll" />
		<intercept-url pattern="/skeleton/login" access="permitAll" />
		<intercept-url pattern="/skeleton/tests/test" access="permitAll" />
		<intercept-url pattern="/skeleton/**" access="isAuthenticated()" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="admin" authorities="ROLE_ADMIN" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>